@import 'partials/_settings';
@import 'foundation/components/grid';
@import 'foundation/components/type';
@import 'foundation/components/button-groups';
@import 'foundation/components/buttons';



$LightColor: #C7C7C7;
$DarkColor: #7E797F;

// =========================Header Styles=====================

h1 {
  font-size: 60px;
  color: $DarkColor;
  text-align: center;
}

.separator {
  @media #{$large-up} {
    border-left: 2px dashed $LightColor;
    padding-left: 20px;
  }
}

p.head {
  margin-top: 5px;
  // border-left: 2px dashed $LightColor;
  font-size: 9px;
  color: $LightColor;
  text-align: left;
}

// ============================Gallery Styles==================

.row:after {
  margin-bottom: 10px;
}

#imageRow {
  padding-top: 15px;
  border-top: 2px dashed $LightColor;
}

.image {
  height: 200px;
  width: 400px;
}

.details {
  display: block;
  text-align: center;
}

.heroImage {
  height: 400px;
  background-size: cover;
  background-position: center;
}

//=====================Details Page Hero Styles=================
h4 {
  margin: 0px;
}

.mainImage {
  height: 450px;
  background-size: cover;
  background-position: center;
}
//=====================Details Page Side Column Styles=================







//==============================Footer==============================
.footer {
  display: inline;
  text-align: center;
}