.row
  .large-6.columns
    h1 _ARCHITEKT
  .large-6.columns
    div.separator
      p.head.
        Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
