.row
  .large-4.columns
    h1 ROOM+SERVICE
  .large-5.columns
    div.separator
      p.head.
        ROOM+SERVICE enriches the entire experience for today’s modern traveler, who is increasingly sophisticated, sustainability-conscious, and desires a deeper connection to his or her destination. ROOM+SERVICE was designed with for an elegant and thoughtful approach to most beautifully portray what is best about Hawai`i.
