//- //receive the mainLayout
extends ./layouts/mainLayout.jade

include ./mixins/all

block content
  form(action="/gallery" method="POST")
    .row
      .large-6.large-offset-3.columns
      +newPhotoAdd()